.content{
	text-align: center;
	width: 80vw;
	margin: auto;
}

.rectangle{
	background-color: #909090;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;
	position: relative;
}

#bottom{
	margin: auto;
	width: 65vw;
	height: 50vh;
	margin-top: 2vh;
	display: flex;
}

#header{
	margin: auto;
	width: 70vw;
	height: 100px;
}

#actions{
	padding-top: 1vh;
	padding-bottom: 1vh;
	flex: 1;
	width: 5vw;
	margin-right: 25px;
}

#lab{
	width: 25vw;
	flex: 2;
}

#inventory{
	flex: 3;
	width: 5vw; 
	margin-left: 25px;
}