<script src="https://js.stripe.com/v3/"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<p><p>
<div class="card">
  <h1 class="card-header bg-success text-light">Checkout</h1>
  <div class="card-body">
    <h4>Your Total: ${{total}}</h4>
    <form action="charge/" method="post" id="payment-form" >
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">First Name</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group  m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Last Name</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group  m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group  m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Street Address</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group  m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">ZipCode</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group  m-1">
        <label for="card-element">
        </label>          
        <div class="form-control" id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display Element errors. -->
        <div class="col-md-12" id="card-errors" role="alert"></div>
         <h3><i class="fab fa-cc-mastercard"></i>&nbsp;<i class="fab fa-cc-visa"></i>&nbsp;<i class="fab fa-cc-discover"></i>&nbsp;<i class="fab fa-cc-amex"></i></br></h3>
      </div>
      <hr/>
      <button class="btn btn-success"><i class="fas fa-cash-register">&nbsp;&nbsp;</i>Submit Payment</button>
    </form>
  </div>
</div>
<script type="text/javascript" src="javascripts/checkout.js"></script>
