<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge badge-secondary badge-pill">2</span>
				<strong>Title</strong>
				<span class="label label-success">$12</span>
				<div class="btn-group">
					<button class="btn btn-primary btn-xsw dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret dropdown-toggle-split"></span></button>
					<ul class="dropdown-menu">
						<li><a class="ml-3" href="#">Reduce by 1</a></li>
						<li><a class="ml-3" href="#">Remove All</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<strong>Total: </strong>
	</div>
</div> 
<hr>
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<button class="btn btn-success" type="button">Checkout</button>
	</div>
</div>
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<h2>No Items in Cart</h2>
	</div>
</div> 