<!-- TODO: Add admin check.
<h2> You are not an admin. </h2>-->

<h1><i class="fas fa-toolbox"></i>&nbsp;Admin Tools</h1>
<hr/>
<h3> Order Management </h3>
<hr/>
<h3> User Management </h3>
<hr/>
<h3> Product & Stock Management </h3>
<hr/>
<h3> Sales Report </h3>