<!-- TODO: Add admin check.
<h2> You are not an admin. </h2>-->
<div class="container">
<h1><i class="fas fa-toolbox"></i>&nbsp;&nbsp;Admin Tools</h1>
<hr/>
<div class="d-flex">
<div class="card flex-fill" style="width: 18rem;">
    <h4 class="card-header bg-warning"><i class="fas fa-clipboard-list"></i>&nbsp;Order Management</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
</div>
<hr/>
<div class="d-flex">
<div class="card flex-fill" style="width: 18rem;">
  <h4 class="card-header bg-warning"><i class="fas fa-user-circle"></i>&nbsp;User Management</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
</div>
<hr/>
<div class="d-flex">
<div class="card flex-fill" style="width: 18rem;">
  <h4 class="card-header bg-warning"><i class="fas fa-truck-loading"></i>&nbsp;Product & Stock Management</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
</div>
<hr/>
<div class="d-flex">
<div class="card flex-fill" style="width: 18rem;">
  <h4 class="card-header bg-warning"><i class="fas fa-chart-line"></i>&nbsp;Sales Report</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Current Month</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
</div>
<hr/>
<div class="d-flex">
<div class="card flex-fill" style="width: 18rem;">
    <h4 class="card-header bg-danger"><i class="fas fa-exclamation-triangle"></i>&nbsp;DANGER ZONE&nbsp;<i class="fas fa-exclamation-triangle"></i></h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action"><i class="fas fa-exclamation-triangle"></i>&nbsp;DELETE ALL Users&nbsp;<i class="fas fa-exclamation-triangle"></i></li>
    <li class="list-group-item list-group-item-action"><i class="fas fa-exclamation-triangle"></i>&nbsp;DELETE ALL Products&nbsp;<i class="fas fa-exclamation-triangle"></i></li>
  </ul>
</div>
</div>
<hr/>
</div>