<!-- TODO: Add admin check.
<h2> You are not an admin. </h2>-->

<h1><i class="fas fa-toolbox"></i>&nbsp;Admin Tools</h1>
<hr/>
<div class="card" style="width: 18rem;">
  <div class="card-header bg-warning">
    <h4 >Order Management</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
<hr/>
<div class="card" style="width: 18rem;">
  <div class="card-header bg-warning">
    <h4 >User Management</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
<hr/>
<div class="card" style="width: 18rem;">
  <div class="card-header bg-warning">
    <h4 >Product & Stock Management</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>
<hr/>
<div class="card" style="width: 18rem;">
  <div class="card-header bg-warning">
    <h4 >Sales Report</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Cras justo odio</li>
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
  </ul>
</div>