<div class="container">
	<h1><i class="fas fa-user-circle"></i>&nbsp;&nbsp;User Profile</h1>
	<hr/>
	<div class="card">
	  <div class="card-body">
	    <form action="charge/" method="post" id="payment-form" >
	      <div class="input-group m-1">
	        <div class="input-group-prepend">
	          <span class="input-group-text">First Name</span>
	        </div>
	        <input type="text" class="form-control">
	      </div>
	      <div class="input-group  m-1">
	        <div class="input-group-prepend">
	          <span class="input-group-text">Last Name</span>
	        </div>
	        <input type="text" class="form-control">
	      </div>
	      <div class="input-group  m-1">
	        <div class="input-group-prepend">
	          <span class="input-group-text">Phone</span>
	        </div>
	        <input type="text" class="form-control">
	      </div>
	      <div class="input-group  m-1">
	        <div class="input-group-prepend">
	          <span class="input-group-text">Street Address</span>
	        </div>
	        <input type="text" class="form-control">
	      </div>
	      <div class="input-group  m-1">
	        <div class="input-group-prepend">
	          <span class="input-group-text">ZipCode</span>
	        </div>
	        <input type="text" class="form-control">
	      </div>
	      <hr/>
	      <button class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
	    </form>
	  </div>
	</div>
</div>
