<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">FakeShop.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a href="/user/signin"><button class="btn btn-outline-success m-1 my-sm-0" type="submit">Login</button></a>
        <a href="/user/register"><button class="btn btn-outline-success m-1 my-sm-0" type="submit">Register</button></a>
        <button type="button" class="btn btn-outline-primary m-1 my-sm-0">
        <span class="fa fa-shopping-cart"></span> Shopping Cart</button>
    </form>
  </div>
</nav>