<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">FakeShop.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success" href="/user/signin" role="button">Login</a> &nbsp;&nbsp;
        <a class="btn btn-outline-success" href="/user/register" role="button">Register</a> &nbsp;&nbsp;
        <a class="btn btn-outline-primary" href="/user/register" role="button"><span class="fa fa-shopping-cart"></span> Shopping Cart</a>
    </form>
  </div>
</nav>