<aside class="col-12 col-sm-2 p-0 bg-secondary">
    <nav class="navbar navbar-expand-sm navbar-dark align-items-start flex-sm-column flex-row">
        <a class="navbar-brand text-light">Categories</a>
        <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
           <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse sidebar">
            <ul class="flex-column navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1" data-toggle="collapse" data-target="#m1" aria-expanded="false">
                        <i class="fa fa-address-card-o fa-fw"></i> <span class=""> Link</span>
                    </a>
                    <div class="collapse" id="m1">
                        <ul class="flex-column nav">
                            <a class="nav-link px-0 text-truncate" href="#">Sub</a>
                            <a class="nav-link px-0 text-truncate" href="#">Sub longer</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="">Link</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>