<aside class="col-12 col-sm-2 p-0 bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
        <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
           <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse sidebar">
            <ul class="flex-column navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <h4><a class="nav-link pl-0" href="#"><i class="fas fa-tshirt"></i> &nbsp;<span class="">Clothes</span></a></h4>
                </li>
                <li class="nav-item">
                    <h4><a class="nav-link pl-0" href="#"><i class="fas fa-paw"></i> &nbsp;<span class="">Pets</span></a></h4>
                </li>
            </ul>
        </div>
    </nav>
</aside>